// COLORS
$color-red: #e00815;
$color-red-dark: #ac0610;
$color-white: #f7f7f7;
$color-white-dark: #ebebeb;
$color-black: #1d1d1d;
$color-black-light: #242424;
$color-grey: #828282;
$color-grey-light: #bdbdbd;
$color-grey-dark: #505050;

//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

//FONT
$default-font-size: 1.6rem;
$font-extrabold: "Noah-ExtraBold",
sans-serif;
$font-bold: "Noah-Bold",
sans-serif;
$font-medium: "Noah-Medium",
sans-serif;
$font-regular: "Noah-Regular",
sans-serif;

//Dimensions
$minwidth: 320px;
$mw: 1280;
$md1: $mw+12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;