.section-biografy {
   background-color: $color-black;
   height: 80rem;

   & .block-biography {
      display: inline-flex;
      margin-top: 10rem;

      &__description {
         margin-left: 4rem;
      }
   }

   & .block-biography__img img {
      height: 73vh;
      position: relative;
      left: 0rem;
      box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
      ;
   }

   & .block-biography__description p {
      line-height: 1.7;
      font-family: $font-medium;
      //font-size: 1.1rem;
      width: 41rem;
      color: #fff;
   }
}

.section-around-biografy {
   height: 62rem;

   .block-details {
      @include flexbox;
      height: 62rem;
      overflow: hidden;

      &__public {
         background-color: $color-white-dark;

         @include flex(0 1 33.333%);
         padding: 5rem 2rem 1rem 3rem;

         & h2 {
            font-family: $font-regular;
            font-size: 3rem;
            font-weight: 300;
            letter-spacing: .2rem;
            line-height: 1.2;
            color: $color-black;
            margin-bottom: 4rem;
         }

         & p {
            font-family: $font-medium;
            line-height: 2.3rem;
            font-size: 1.2rem;
            padding-right: 3.4rem;
         }
      }

      &__media {
         background-color: $color-white;

         @include flex(0 1 33.333%);
         padding: 5rem 2rem 1rem 2rem;

         & h2 {
            font-family: $font-regular;
            font-size: 3rem;
            font-weight: 300;
            letter-spacing: .2rem;
            line-height: 1.2;
            color: $color-black;
            margin-bottom: 4rem;
         }

         & p {
            font-family: $font-medium;
            line-height: 2.3rem;
            font-size: 1.2rem;
            padding-bottom: 1rem;
         }

         & i {
            width: 23rem;
            display: block;
            margin-left: 6rem;
            margin-top: 2rem;
            font-size: 0.9rem;
         }

         & .forbes-link {
            color: $color-red;
            font-family: $font-regular;
            font-size: 1rem;
            margin-left: 6rem;
            margin-top: 4rem;
            font-style: italic;
         }
      }

      &__book {
         background-color: #E00815;

         @include flex(0 1 33.333%);
         padding: 5rem 5rem 1rem 2rem;

         & h2 {
            font-family: $font-regular;
            font-size: 3rem;
            font-weight: 300;
            letter-spacing: .2rem;
            line-height: 1.2;
            color: $color-white;
            margin-bottom: 4rem;
         }

         & p {
            font-family: $font-medium;
            line-height: 2.3rem;
            font-size: 1.2rem;
            color: $color-white;
            margin-bottom: 14rem;
         }
      }
   }
}